body {
    font-family: 'Roboto', Helvetica, sans-serif;
}

nav {
    background-color: black;
    width: 100%;
    color: #fff;
    padding: 5px;
    top: 0;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    justify-content: space-around;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
}

nav ul li a:hover {
    background-color: #efefef;
    color: black;
}

/* Class Selectors */
.active {
    border-bottom: 1px solid yellow;
}
