/* styles/style.css */

/* Body styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

/* Header styles */
header {
    background-color: #333;
    margin: 0;
    
    text-align: center;
    color: #fff;
    padding: 30px;
}

h1 {
    margin: 0;
    font-size: 28px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
}

/* Main section styles */
main {
    flex-grow: 1;
    
}

/* Movie results styles */
#movieResults {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

/* Movie card styles */
.movie-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
    cursor: pointer;
}

/* Movie details styles */
#movieDetails {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* CSS styles for larger movie poster in movie details */
#movieDetails img {
    width: 250px; /* Set the desired width for the larger poster */
    height: auto; /* Allow height to adjust automatically based on width */
    object-fit: cover; /* Maintain aspect ratio and cover the available space */
    border-radius: 8px; /* Optionally add rounded corners to the poster */
    margin-bottom: 10px; /* Add space below the poster */
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 16px;
    margin-bottom: 5px;
}
